@import 'abstracts/variables';
@import 'themes/theme';
@import 'components/button'; 
@import 'abstracts/mixins';
@import 'base/base';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/help';
@import 'pages/index';
@import 'pages/doctor';
@import 'pages/hospital';
@import 'pages/login';
@import 'pages/signup';
@import 'pages/treatments';
@import 'pages/contactus';
@import 'pages/about';
@import 'pages/bookappointment';
@import 'pages/doctor_details';
@import 'pages/hospital_details';
@import 'pages/faq';
@import 'pages/tvastra_plus';
@import 'pages/dashboard.scss';
