html, body{
	box-sizing: border-box;
	font-size: $font-size;
}
*, *:before, *:after{
	box-sizing: inherit;
}

.grid{
	display: grid;
}

.container{
	display: grid;
	@include container-styling-mobile;
}

.heading-1{
	font-size: 2.68rem;
	line-height: 3rem;
	font-family: $nexa-bold;
	@media(min-width: $bp-tablet){
		font-size: 3rem;
		line-height: 4rem;
	}
	@media(min-width: $bp-desktop){
		font-size: 4rem;
		line-height: 5rem;
	}
}
.para{
	font-size: 1.7rem;
	line-height: 2rem;
}

.heading-2{
	font-size: 2.68rem;
	line-height: 2rem;
	@media(min-width: $bp-tablet){
		font-size: 3rem;
		line-height: 3rem;
	}
	@media(min-width: $bp-desktop){
		font-size: 4rem;
		line-height: 5rem;
	}
}

.heading-3{
	font-size: 1.7rem;
	line-height: 2rem;
	@media(min-width: $bp-tablet){
		font-size: 2rem;
	}
}

.para{
	font-size: 1.7rem;
	line-height: 3rem;
	font-family: $nexa-light;
}

.span{
	font-size: 1.3rem;
	@media(min-width: $bp-tablet){
		font-size: 1.5rem;
	}
}
@media (min-width: $bp-tablet) {
	.container{
		@include container-styling-tablet;
	}
	.para{
		@include para-styling-tablet;
	}
	
}



@media (min-width: $bp-desktop){
	.container{
		@include container-styling-desktop;
	}

	.para{
		@include para-styling-desktop;
	}

}


