<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<%- include('partials/head.ejs') %>
	<title>OTP</title>
</head>
<body class="login-body">
	<div class="login-body-flex">
		<header>
		<%- include('partials/header.ejs') %>
	</header>
		<section class="form_container form_container--otp">
			<h1 class="form_container__heading">OTP</h1>
			<form method="POST" action="/otp" class="form_container__form">
				<div class="form_container__form__input_field">
					<input name="otp" type="text" placeholder="Enter OTP" class="form_container__form__otp" required>
					<i class="fas fa-question-circle"></i>
				</div>
				<div class="form_container__form__input_field">
					<span class="para-1" id="cancelLogin">Cancel Login</span>
				</div>
				<button type="submit" class="form_container__form__submit">
					<span class="form_container__form__submit__text">Submit</span>
					<span class="form_container__form__submit__icon"><i class="fas fa-arrow-right"></i></span>
				</button>
			</form>
		</section>
		<section class="copyright">
			<span>All Rights Reserved &copy; Tvastra 2020</span>
		</section>	
	</div>
	<script type="text/javascript" src="bundle.js"></script>
</body>
</html>