<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<%- include('partials/head.ejs') %>
	<title>Phone Login</title>
</head>
<body class="login-body">
	<div class="login-body-flex">
		<header>
		<%- include('partials/header.ejs') %>
	</header>
		<section class="form_container form_container--phone">
			<h1 class="form_container__heading">Phone Login</h1>
			<form method="POST" action="/phone-login" class="form_container__form">
				<div class="form_container__form__input_field">
					<input name="phoneNumber" type="text" placeholder="Enter Mobile Number" class="form_container__form__phone_number" required>
					<i class="fas fa-question-circle"></i>
				</div>
				<div class="form_container__form__input_field">
					<span class="para-1 error" id="cancelLogin"><%= error %></span>
				</div>
				<div class="try_another_method"><a href="/email-login"><span class="para-1">Try Another Method</span></a></div>
				<button type="submit" class="form_container__form__submit">
					<span class="form_container__form__submit__text">Login</span>
					<span class="form_container__form__submit__icon"><i class="fas fa-arrow-right"></i></span>
				</button>
			</form>
			<span class="form_container__signup">Not Registered? <span><a href="/signup">Sign Up</a></span></span>
		</section>
		<section class="copyright">
			<span>All Rights Reserved &copy; Tvastra 2020</span>
		</section>	
	</div>
	<script type="text/javascript" src="index.js"></script>
</body>
</html>