<!DOCTYPE html>
<head>
	<%- include('partials/head.ejs') %>
	<title>Tvastra Plus</title>
</head>
<body>
	<header>
		<%- include('partials/header.ejs') %>
	</header>
	<section class="hero hero--plus">
		<div class="container container--flex">
			<span class="plus">PLUS</span>
			<h1 class="heading-1 page_heading">
				Healthcare plans for you and your family.
			</h1>
			<span class="page_description--plus para">Become a Tvastra Plus Member and save 60% off on your yearly health expenses</span>
		</div>
	</section>
	<section class="pricing">
		<div class="container pricing__container">
			<div class="pricing__card">
				<div class="pricing__heading__div">
					<h2 class="heading-2 pricing__heading__div__heading">Select a Tvastra Plus healthcare plan</h2>
					<span class="pricing__heading__div__para para">All Plus plans are for 4 adults and 2 children</span>
				</div>
				<div class="pricing__table">
					<div class="pricing__table__basic_plan">
						<div class="pricing__table__basic_plan__heading">
							<h3 class="heading-3">
								Basic Plan
							</h3>
						</div>
						<div class="pricing__table__basic_plan__benefits">
							<ul class="pricing__table__basic_plan__benefits__list">
								<li class="pricing__table__basic_plan__benefits__list__item para">
									Unlimited Consultation with any speciality
								</li>
								<li class="pricing__table__basic_plan__benefits__list__item para">
									20% Off on prescription medicines
								</li>
								<li class="pricing__table__basic_plan__benefits__list__item para">
									20% Off on tests & checkups
								</li>
								<li class="pricing__table__basic_plan__benefits__list__item para">
									10 Free In-Clinic consultations
								</li>
								<li class="pricing__table__basic_plan__benefits__list__item para">
									2 Master health checkups
								</li>
							</ul>
						</div>
						<div class="pricing__table__basic_plan__price">
							<div class="pricing__table__basic_plan__price__amount">
								<h2 class="heading-2">
								₹2,999<span>/year</span>
								</h2>
							</div>
							<div class="pricing__table__basic_plan__price__details">
								<a href=""><span class="para">View Plan Details</span></a>
							</div>
						</div>
						<div class="pricing__table__basic_plan__buy">
							<a href=""><button class="pricing__table__basic_plan__buy__btn">Buy Plan</button></a>
						</div>
					</div>	
				</div>	
			</div>
		</div>
	</section>
	<section class="trust">
		<div class="container trust__container">
			<h2 class="trust__heading heading-2">
				Trusted by 2 Crore+ users every month
			</h2>
			<span class="trust__para para">
				Tvastra is the leading healthcare technology company in India. We began in 2009 and today we help 2 crore customers every month.
			</span>
			<div class="trust__rating">
				<div class="trust__rating__count">
					<h3 class="heading-1 trust__rating__count__figure">
						4.5
					</h3>
					<div class="trust__rating__count__desc">
						<div class="trust__rating__count__desc__stars">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>	
						</div>
						<span class="para">1000+ Reviews</span>
					</div>
				</div>
				<div class="trust__rating__bars">
					<ul class="trust__rating__bars__list">
						<li class="trust__rating__bars__list__bar">
							<div class="trust__rating__bars__list__bar__number para">
								5
							</div>
							<div class="trust__rating__bars__list__bar__container">
								<div class="trust__rating__bars__list__bar__container__bar trust__rating__bars__list__bar__container__bar--5"></div>
							</div>
						</li>
						<li class="trust__rating__bars__list__bar">
							<div class="trust__rating__bars__list__bar__number para">
								4
							</div>
							<div class="trust__rating__bars__list__bar__container">
								<div class="trust__rating__bars__list__bar__container__bar trust__rating__bars__list__bar__container__bar--4"></div>
							</div>
						</li>
						<li class="trust__rating__bars__list__bar">
							<div class="trust__rating__bars__list__bar__number para">
								3
							</div>
							<div class="trust__rating__bars__list__bar__container">
								<div class="trust__rating__bars__list__bar__container__bar trust__rating__bars__list__bar__container__bar--3"></div>
							</div>
						</li>
						<li class="trust__rating__bars__list__bar">
							<div class="trust__rating__bars__list__bar__number para">
								2
							</div>
							<div class="trust__rating__bars__list__bar__container">
								<div class="trust__rating__bars__list__bar__container__bar trust__rating__bars__list__bar__container__bar--2"></div>
							</div>
						</li>
						<li class="trust__rating__bars__list__bar">
							<div class="trust__rating__bars__list__bar__number para">
								1
							</div>
							<div class="trust__rating__bars__list__bar__container">
								<div class="trust__rating__bars__list__bar__container__bar trust__rating__bars__list__bar__container__bar--1"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="trust__statistics">
				<div class="trust__statistics__stat">
					<i class="trust__statistics__stat__icon fas fa-users">
					</i>
					<h3 class="heading-3 trust__statistics__stat__heading">
						2 Crore+
					</h3>
					<span class="trust__statistics__stat__desc para">
						Monthly Customers
					</span>
				</div>
				<div class="trust__statistics__stat">
					<i class="trust__statistics__stat__icon fas fa-user-md">
					</i>
					<h3 class="heading-3 trust__statistics__stat__heading">
						100,000+
					</h3>
					<span class="trust__statistics__stat__desc para">
						Verfied Doctors
					</span>
				</div>
				<div class="trust__statistics__stat">
					<i class="trust__statistics__stat__icon fas fa-pills">
					</i>
					<h3 class="heading-3 trust__statistics__stat__heading">
						10 Lakh+
					</h3>
					<span class="trust__statistics__stat__desc para">
						Medicine Orders Delivered
					</span>
				</div>
				<div class="trust__statistics__stat">
					<i class="trust__statistics__stat__icon far fa-users">
					</i>
					<h3 class="heading-3 trust__statistics__stat__heading">
						5 Crore+
					</h3>
					<span class="trust__statistics__stat__desc para">
						Doctor Appointments
					</span>
				</div>
			</div>
		</div>
	</section>
	<section class="benefits">
		<div class="container benefits__container">
			<h2 class="heading-4 benefits__heading">
				Benefits of Plus Membership
			</h2>
			<div class="benefits__grid">
				<div class="benefits__grid__col--1 col">
					<h2 class="heading-2 col-heading">
						Zero fees for in-clinic consultation
					</h2>
					<div class="col-points">
						<div class="point">
							<i class="point-icon fas fa-check-circle"></i>	
							<span class="point-desc para">Consult with 30000+ specialist doctors at top clinics & hospitals in the PLUS network at Rs.0 consultation fees*</span>	
						</div>
						<div class="point">
							<i class="point-icon fas fa-check-circle"></i>
							<span class="point-desc para">Upto 10 in-clinic consultations can be used by any family member over 12 month period.</span>	
						</div>
					</div>
				</div>
				<div class="benefits__grid__col--2 col">
					<h3 class="col-heading heading-3">
						Top Hospitals Onboarded
					</h3>
					<div class="hospitals_grid">
						<div class="image_container">
							<img src="./../assets/998bc19e01cb3ec194a860487c7eb628.png" alt="" class="image">
						</div>
						
						<div class="image_container">
							<img src="./../assets/998bc19e01cb3ec194a860487c7eb628.png" alt="" class="image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<%- include('partials/footer.ejs') %>
	</footer>
	<div class="border">
	</div>
</body>
</html>