<header class="admin_header">
	<div class="menu-burger">
		<i class="fas fa-bars navbar__burger"></i>
	</div>
	<div class="bell-icon">
		<i class="fas fa-bell"></i>
	</div>
	<div class="display-picture">
		<img src="./../assets/femaleDoc.png" alt="">
		<i class="fas fa-chevron-down"></i>
	</div>
</header>