.form_container{
	&--book{
		height: 67rem;
		grid-template-rows: 1.5fr 11fr; 
	}
	&__form{
		grid-gap: 2rem;
		&__input_field{
			&--book{
				display: grid;
				grid-gap: 1rem;
				span{
					font-size: 1.5rem;
					font-family: $nexa-bold;
				}
			}
			&__container{
				height: 100%;
				display: grid;
				grid-template-columns: 1fr 10fr;
				align-items: center;
				// grid-gap: 1rem;
				label{
					font-size: 1.3rem;
					font-family: $nexa-light;
					line-height: 1.7rem;
				}
				input{
					font-family: $nexa-bold;
				}
				input[type=radio]{
					margin: 0;
				}
				&--date{
					display: grid;
					grid-column: 1/-1;
					grid-template-columns: 100%;
					grid-gap: 1rem; 
				}
			}
			label[for=health_record], label[for=appointment_date], label[for=appointment_details]{
				font-size: 1.5rem;
				font-family: $nexa-bold;
			}
		}
		&__submit{
			span{
				font-size: 1.3rem;
				line-height: 3rem;
			}
		}
	}
}

@media(min-width: $bp-tablet){
	.form_container{
		&__form{
			&__input_field{
				&--book{
					span{
						// grid-column: 1/-1;
					}
					label, input[type=file]{
						// grid-column: 1/-1;
					}
				}
				&__container{
					
					&--date{
						display: grid;
						grid-column: 1/-1;
						grid-template-columns: 100%;
						grid-gap: 1rem; 
						height: 100%;
					}
				}
			}
		}
	}
}

@media(min-width: $bp-desktop){
	.form_container{
		&__form{
			&__input_field{
				&--book{
				}
			}
		}
	}
}