
.about_doctor{
	&__container{
		padding: 2rem 2rem;
		.inner_container{
			display: grid;
			grid-template-columns: 100%;
			grid-gap: 2rem;
			border: 1px solid #ccc;
			padding: 1rem;
			position: relative;
			&::after{
				content: '';
				position: absolute;
				width: 50px;
				height: 2px;
				top: 42%;
				left: 0;
				background-color: $bright-blue;
			}
		}

		&__col--1{
			display: grid;
			grid-template-columns: 100%;
			grid-gap: 2rem;
			order: 2;
			&__heading{
				color: $bright-blue;
				text-align: center;
			}	
			&__summary{
				text-align: center;
			}
			&__more_details{
				display: grid;
				grid-template-columns: 100%;
				grid-gap: 1rem;
				&__accordian{
					display: grid;
					grid-template-columns: 100%;
					&__item{
						&:first-of-type{
							a{
								border-top: 1px dashed #ccc;
							}
						}
						&:target{
							.about_doctor__container__col--1__more_details__accordian__item{
								&__content{
									max-height: 20rem;	
									padding: 1rem;
								}
								&__btn{
									.down_arrow{
										transform: rotate(180deg);
									}
								}

							}
						}
						&__btn{
							padding: 1rem 0rem;
							border-bottom: 1px dashed #ccc;
							text-decoration: none;
							color: $bright-blue;
							font-family: $nexa-bold;
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;
							.detail--1{
								i{
									margin-right: 1rem;
									font-size: 1.5rem;
								}
							}
							.down_arrow{
								position: relative;
								width: 2rem;
								height: 2rem;
								background-color: rgba($bright-blue, .1);
								border-radius: 50%;
								i{
									position: relative;
									left: 50%;
									top: 50%;
									transform: translate(-50%, -50%);
								}
							}	
						}
						&__content{
							background-color: rgba($bright-blue, .1);
							max-height: 0;
							transition: max-height .3s;
							overflow: hidden;
							&__para{

							}
						}
					}
				}
			}
		}
		&__col--2{
			order: 1;
			display: grid;
			grid-template-columns: 100%;
			grid-gap: 1rem;
			&__img_wrapper{
				width: 100%;
				height: 100%;
				&__image{
					width: 100%;
				}
			}
			&__button{
				font-family: $nexa-bold;
				align-self: center;
				margin-bottom: 1rem;
				border: none;
				background-color: $dark-blue;
				color: white;
				font-size: 1.5rem;
				padding: 1rem 3rem;
			}
		}
	}
}

@media(min-width: $bp-tablet){
	.about_doctor{
		&__container{
			padding: 2rem 3rem;
			
			.inner_container{
				grid-template-columns: 2fr 1fr;
				padding: 2rem;
				&::after{
					top: 4%;
					width: 15px;
				}	
			}
			&__col--1{
				order: 1;
				&__heading{
					text-align: left;
				}
				&__summary{
					text-align: left;
				}
				&__more_details{
					&__accordian{
						&__item{
							&__btn{
								padding: 2rem 0rem;
							}
						}
					}	
				}
			}
			&__col--2{
				order: 2;
				max-height: 20rem;
			}
		}
	}
}

@media(min-width: $bp-desktop){
	.about_doctor{
		&__container{
			padding: 3rem 10rem;
			.inner_container{
				grid-template-columns: 3fr 1fr;
				padding: 4rem;
				&::after{
					top: 7.5%;
					width: 30px;
				}	
			}
		}
	}
}