.form_container{
	&--signup{
		height: 60rem;
		grid-template-rows: 1fr 5fr 0.5fr;
	}
	&__form{
		&__input_field{
			select, input[type=date], input[type=email], input[type=password]{
				border-style: solid;
				background-color: white;
				width: 100%;
				height: 100%;
				color: #777;
				padding: 0rem 1.5rem;
				font-family: $nexa-bold;
				font-size: 1.2rem;
			}
		}
		#city{
			@media(min-width: $bp-tablet){
				width: 49%;
			}
			width: 49%;
		}
		#state{
			@media(min-width: $bp-tablet){
				width: 49%;
			}
			width: 49%;
		}
	}
}