.form_container{
	&--signup{
		height: 67rem;
		grid-template-rows: 1fr 5fr 0.5fr;
	}
	&__form{
		&__input_field{
			select, input[type=date], input[type=email], input[type=password]{
				&:focus{
					outline: 1px solid $bright-blue;
				}
				border-style: solid;
				background-color: white;
				width: 100%;
				height: 100%;
				color: #777;
				padding: 1rem 1.5rem;
				font-family: $nexa-bold;
				font-size: 1.4rem;
			}
		}
	}
}