.page-flex{
	display: flex;
	flex-direction: row;

}
.page-content{
	height: 100%;
	// background-color: #ddd;

	.page-content-container{
		width: 100%;
		padding: 2rem;
		height: 100%;
		.appointment_heading{
			font-family: $nexa-bold;
			color: black;
		}
		.appointment_container{
			position: relative;
			height: 100%;
			.no_appointments_container{
				position: relative;
				// top: 50%;
				// left: 50%;
				height: 100%;
				// transform: translate(-50%, -50%);
				.no_appointments{
					display: inline-flex;
					flex-direction: column;
					justify-content: center;
					position: relative;
					top: 50%;
					left: 50%;
					grid-gap: 2rem;
					transform: translate(-50%, -50%);
					i{
						text-align: center;
						font-size: 5rem;
						color: $bright-blue;
					}
					h4{
						color: $bright-blue;
						font-family: $nexa-bold;
					}
				}
			}
			.appointment{
				display: flex;
				flex-direction: row;
				grid-gap: 1rem;
				background-color: #ddd;
				border: 1px solid #ddd;
				padding: 1rem 1.5rem;
				margin: 1rem 0rem;
				flex-wrap: wrap;
				&_date{
					background-color: #fff;
					padding: 1rem;
					border-radius: .5rem;
					display: flex;
					flex-direction: column;
					grid-gap: .5rem;
					align-items: center;
					justify-content: center;
					&_date{
						font-family: $nexa-bold;
						color: black;
						font-size: 2rem;

					}
					&_month{
						text-transform: uppercase;
						font-family: $nexa-bold;
						font-size: 1.5rem;
						color: black;
					}	
				}
				&_details{
					display: flex;
					flex-direction: column;
					grid-gap: .5rem;
					flex-grow: 2;
					justify-content: center;
					&_doctor_name{
						font-family: $nexa-bold;
						font-size: 1.4rem;
						color: black;
					}
					&_time{
						font-family: $nexa-bold;
						color: black;
					}
					&_clinic{
						font-family: $nexa-bold;
						color: black;
					}
					&_status{
						.approved{
							line-height: 2rem;
							padding: .5rem;
							border-radius: .5rem;
							font-family: $nexa-bold;
							background-color: rgba(green, .2);
							color: green;
						}
						.cancelled{
							line-height: 2rem;
							padding: .5rem;
							border-radius: .5rem;
							font-family: $nexa-bold;
							background-color: rgba(red, .4);
							color: red;	
						}	
					}
				}
				&_view_details{
					display: flex;
					flex-direction: row;
					align-items: flex-end;
					grid-gap: 1rem;
					&_btn{
						background-color: $bright-blue;
						border: 1px solid $bright-blue;
						border-radius: .5rem;
						color: $background-color;
						font-family: $nexa-bold;
						padding: 1rem;
					}

				}
			}
		}
	}
}

@media(min-width: $bp-tablet){
	.page-content{
		&-container{
			padding: 2rem 3rem;
		}
	}
	.page-flex{
	}
}

@media(min-width: $bp-desktop){
	.page-content{
		
	}
}

