$nexa-bold: "Nexa Bold";
$nexa-light: "Nexa Light";
$dark-color: #2a2d3e;
$light-color: #9cbfda;
$another-blue: #0173c7;
$background-color: white;
$disabled: #333;


html,body{
	margin: 0;
	padding: 0;
	font-size: 10px;
	box-sizing: border-box;
}

body{
	box-sizing: border-box;
}
nav {
	padding: 2rem 2rem;
	display: flex;
	width: 100%;
	height: 8rem;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	.menu{
		display: none;
	}
	.nav-buttons{
		display: none;
	}
	.logo{
		img{
			width: 15rem;
			height: auto;	
		}	
	}
	.fa-bars{
		font-size: 2rem;
	}
}

.breadcrumb{
	padding: 2rem 2rem;
	.container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		p{
			font-family: $nexa-bold;
			font-size: 1.5rem;
		}
		.sort{
			font-size: 1.2rem;
			border: none;

			.fa-angle-down{
				font-size: 1.2rem;
			}
		}
	}
}

.doctors-list{
	width: 100%;
	height: 300rem;
	box-sizing: border-box;
	padding: 0rem 2rem;
	.container{
		display: grid;
		grid-template-columns: 100%;
		grid-row-gap: 1rem;
		font-family: $nexa-bold;
		.col-1{
			display: none;
		}
		.col-2{
			display: grid;
			grid-template-columns: 100%;
			grid-row-gap: 1rem; 
				.card{
					display: flex;
					flex-direction: column;
					justify-content: center;
					border: .1rem solid #bbb;
					padding: .5rem;
				.name{
					h3{
						color: $another-blue;
						font-size: 2rem;
						line-height: 2rem; 	
						margin: 1rem 0rem;
						padding-left: 4rem;	
					}	
					position: relative;	
					&:before{
						content: '';
						display: inline;
						position: absolute;
						width: 4rem;
						background-color: $another-blue;
						left: -1.5%;
						top: 45%;
						height: .2rem; 
					}
				}
				.other-details{
					p{
						span{
							margin-right: 1rem;
							i{
								color: $another-blue;
								font-size: 2rem;
							}

						}
					}
					.tags{
						margin: 2rem 1rem;
						.tag{
							display: inline;
							border: 1px solid grey;
							border-radius: 1rem;
							padding: .5rem;
							line-height: 3rem;
							white-space: nowrap;
						}
					}	
				}
				.book{
						align-self: center;
						margin-bottom: 1rem;
						border: none;
						background-color: $dark-color;
						color: white;
						font-size: 1.5rem;
						padding: 1rem 3rem;
						margin-top: 1rem;
					}
				.doctor_img{
					width: 100%;
					height: 40rem;
				}
			}	
		}
	}
}


.query{
	width: 100%;
	background-color: $light-color;
	height: 28rem;
	box-sizing: border-box;

	.container{
		display: grid;
		text-align: center;
		grid-template-columns: 100%;
		padding: 2rem;
		box-sizing: border-box;
		height: calc(100%);
		padding: 2rem 2rem;

		h2{
			font-family: $nexa-bold;
			font-size: 4rem;
			line-height: 1rem;
			color: $background-color;
		}
		p{
			font-family: $nexa-light;
			font-size: 1.5rem;
			line-height: 2rem;
			margin-bottom: 3rem;
			color: $dark-color;
		}
		.col-2{
			button{
				font-family: $nexa-bold;
				background-color: #3c7abe;
				color: $background-color;
				border: none;
				font-size: 1.5rem;
				border-radius: .5rem;
				padding: 2rem 4rem;
			}
		}
	}	
}

.footer{
	height: 38rem;
	background-color: $dark-color;
	color: white;
	.container{
		width: 100%;
		display: grid;
		font-family: $nexa-light;
		box-sizing: border-box;
		padding: 2rem 0rem;
		grid-gap: 2rem;
		grid-template-columns: 100%;
		ul{
			list-style-type: none;	
			display: flex;
			align-self: center;
			justify-self: center;
			grid-row: 2/3;
			flex-direction: column;
			text-align: center;
			margin-left: -4rem;
			letter-spacing: 0.05rem;
			li{
				margin-bottom: 2rem;
				font-size: 1.5rem;
			}
		}
		img{
			grid-row: 1/2;
			justify-self: center;
			align-self: center;
			width: 20rem;
			height: auto;
		}
		p{
			color: white;
			grid-row: 3/4;
			font-size: 1.4rem;
			text-align: center;
			margin: 0;
			justify-self: center;
			align-self: center;
		}
		.social{
			color: white;
			justify-self: center;
			align-self: center;
			i{
				font-size: 1.5rem;
				margin-right: 1.5rem;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}

.border{
	width: 100%;
	height: 1rem;
	background-color: $another-blue;
}

@media(min-width: 768px){
	.doctors-list{
		box-sizing: border-box;
		height: 150rem;
		.container{
			padding: 0rem; 
			box-sizing: border-box;
			grid-template-columns: 3fr 7fr;
			grid-column-gap: 1rem;
			.col-1{
				display: grid;
				grid-template-columns: 100%;
				height: 105rem;
				.filter{
					&:last-child{
						border-bottom: none;
					}
					display: grid;
					grid-template-columns: repeat(5,2fr);
					grid-template-rows: 2fr 3fr 2fr;
					align-items: center;
					border-bottom: .1rem solid #bbb;
					.filter-title{
						grid-column: 1/4;
						grid-row: 1/2; 
						font-size: 1.5rem;
					}
					.search{
						grid-column: 4/5;
						grid-row: 1/2;
						justify-self: end;
						font-size: 1rem;
						color: $another-blue;
					}
					.collapse{
						grid-column: 5/6;
						grid-row: 1/2;
						justify-self: end;
						font-size: 1rem;
					}
					.options{
						grid-column: 1/6;
						grid-row: 2/3;
						display: grid;
						grid-template-columns: 100%;
						label{
							display: flex;
							flex-direction: row;
							align-items: center;
							align-self: center;
						}
					}
					.show-more{
						color: $another-blue;
						grid-column: 1/6;
						grid-row: 3/4;
						font-size: 1rem;
						margin-bottom: 1rem;
						.fa-plus{
							margin-right: 1rem;
						}
					}
				}
			}
			.col-2{
				.card{
					display: grid;
					grid-template-columns: 6fr 4fr;
					grid-template-rows: 2fr 6fr 2fr;
					height: 35rem;
					.name{
						grid-column: 1/2;
						grid-row: 1/2;
						&:before{
							top:20%;
						}
					}
					.other-details{
						grid-column: 1/2;
						grid-row: 2/3;
					}
					.book{
						grid-column: 1/2;
						grid-row: 3/4;
						align-self: center;
						justify-self: start;
					}
					.doctor_img{
						grid-column: 2/3;
						grid-row: 1/4;
						height: 100%;
					}
				}				
			}
		}
	}

	.query{
		height: 22rem;
		.container{
			text-align: left;
			box-sizing: border-box;
			grid-template-columns: 100%;
			grid-template-rows: repeat(2,1fr);
			.col-1{
				grid-row: 1/2;
				grid-column: 1/2;
				text-align: center;
				p{
					line-height: 1rem;
				}
			}
			.col-2{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				grid-row: 2/3;
				grid-column: 1/2;

				button{
					font-size: 1.5rem;
					padding: 2rem 4rem;
				}
			}
		}
	}
	.footer{
		height: 17rem;
		background-color: white;
		color: $dark-color;
		box-sizing: border-box;

		.container{
			font-size: 1rem;
			grid-template-columns: 6fr 4fr;
			grid-row-gap: 1rem;
			box-sizing: border-box;
			padding: 4rem 5rem;
			ul{
				grid-row: 1/2;
				flex-direction: row;
				margin-left: 0rem;
				box-sizing: border-box;
				margin-left: -4rem;
				align-self: center;
				justify-self: start;
	
				li{
					font-size: 1.4rem;
					letter-spacing: 0.05rem;
					&:first-child{
						margin-left: 0;
					}
					margin-left: 1rem;
				}
			}
			img{
				justify-self: end;
				align-self: center;
				height: 5rem;
			}
			p{
				color: $dark-color;
				font-size: 1.4rem;
				grid-row: 2/3;
				text-align: left;
				grid-column: 1/2;
				justify-self: start;
			}
			.social{
				justify-self: end;
				color: $dark-color;
			}
		}
	}

}

@media(min-width: 1024px){
	nav{
		padding: 2rem 10rem;
		.menu{
			display: inline;
			flex-grow: 1;
			margin-left: 0rem; 
			ul{
				list-style-type: none;
				display: flex;
				flex-direction: row;
				text-align: center;
				justify-content: center;
				margin-left: -6rem;
				li{
					font-family: $nexa-bold;
					font-size: 1.5rem;	
					color: $dark-color;
					margin-left: 3rem;
				}
			}
		}
		.nav-buttons{
			display: flex;
			flex-grow: 1;
			margin-left: 1.2rem;
			justify-content: center;
			align-items: center;
			&-button{
				padding: 1rem 1.8rem;
				color: $dark-color;
				border: 1px solid $dark-color;
				border-radius: .5rem;
			}

			.login{
				background-color: $background-color;
			}
			
			.quote{
				margin-left: 1rem;
				padding: 1rem 2.6rem;
				background-color: $dark-color;
				color: $background-color;
			}
		}
		.fa-bars{
			display: none;
		}
	}
	.breadcrumb{
		padding: 0rem 5rem;
	}
	.doctors-list{
		padding: 0rem 5rem;
		.container{
			grid-template-columns: 2fr 8fr;
			padding: 1rem 0rem;
			.col-2{
				.card{
					height: 35rem;
					grid-template-columns: 7fr 3fr;
					.name{
						&:before{
							margin-left: .4rem;
						}
					}
					.other-details{
						display: grid;
						grid-template-columns: 100%;
						justify-content: center;
						align-items: center; 
					}
					img{
						height: 100%;
					}
				}
			}
		}
	}
	.query{
		.container{
			padding: 2rem 10rem;
			grid-template-columns: 6fr 2fr;
			grid-template-rows: 100%;

			.col-1{
				grid-column: 1/2;
				grid-row: 1/2; 
				text-align: left;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			.col-2{
				grid-column: 2/3;
				grid-row: 1/2;
			}
		}
	}
	.footer{
		.container{
			padding: 4rem 10rem;
		}
	}
}