html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

nav {
  padding: 2rem 2rem;
  display: flex;
  width: 100%;
  height: 8rem;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}
nav .menu {
  display: none;
}
nav .nav-buttons {
  display: none;
}
nav .logo img {
  width: 15rem;
  height: auto;
}
nav .fa-bars {
  font-size: 2rem;
}

.breadcrumb {
  padding: 2rem 2rem;
}
.breadcrumb .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.breadcrumb .container p {
  font-family: "Nexa Bold";
  font-size: 1.5rem;
}
.breadcrumb .container .sort {
  font-size: 1.2rem;
  border: none;
}
.breadcrumb .container .sort .fa-angle-down {
  font-size: 1.2rem;
}

.doctors-list {
  width: 100%;
  height: 300rem;
  box-sizing: border-box;
  padding: 0rem 2rem;
}
.doctors-list .container {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 1rem;
  font-family: "Nexa Bold";
}
.doctors-list .container .col-1 {
  display: none;
}
.doctors-list .container .col-2 {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 1rem;
}
.doctors-list .container .col-2 .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.1rem solid #bbb;
  padding: 0.5rem;
}
.doctors-list .container .col-2 .card .name {
  position: relative;
}
.doctors-list .container .col-2 .card .name h3 {
  color: #0173c7;
  font-size: 2rem;
  line-height: 2rem;
  margin: 1rem 0rem;
  padding-left: 4rem;
}
.doctors-list .container .col-2 .card .name:before {
  content: "";
  display: inline;
  position: absolute;
  width: 4rem;
  background-color: #0173c7;
  left: -1.5%;
  top: 45%;
  height: 0.2rem;
}
.doctors-list .container .col-2 .card .other-details p span {
  margin-right: 1rem;
}
.doctors-list .container .col-2 .card .other-details p span i {
  color: #0173c7;
  font-size: 2rem;
}
.doctors-list .container .col-2 .card .other-details .tags {
  margin: 2rem 1rem;
}
.doctors-list .container .col-2 .card .other-details .tags .tag {
  display: inline;
  border: 1px solid grey;
  border-radius: 1rem;
  padding: 0.5rem;
  line-height: 3rem;
  white-space: nowrap;
}
.doctors-list .container .col-2 .card .book {
  align-self: center;
  margin-bottom: 1rem;
  border: none;
  background-color: #2a2d3e;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  margin-top: 1rem;
}
.doctors-list .container .col-2 .card .doctor_img {
  width: 100%;
  height: 40rem;
}

.query {
  width: 100%;
  background-color: #9cbfda;
  height: 28rem;
  box-sizing: border-box;
}
.query .container {
  display: grid;
  text-align: center;
  grid-template-columns: 100%;
  padding: 2rem;
  box-sizing: border-box;
  height: calc(100%);
  padding: 2rem 2rem;
}
.query .container h2 {
  font-family: "Nexa Bold";
  font-size: 4rem;
  line-height: 1rem;
  color: white;
}
.query .container p {
  font-family: "Nexa Light";
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 3rem;
  color: #2a2d3e;
}
.query .container .col-2 button {
  font-family: "Nexa Bold";
  background-color: #3c7abe;
  color: white;
  border: none;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 2rem 4rem;
}

.footer {
  height: 38rem;
  background-color: #2a2d3e;
  color: white;
}
.footer .container {
  width: 100%;
  display: grid;
  font-family: "Nexa Light";
  box-sizing: border-box;
  padding: 2rem 0rem;
  grid-gap: 2rem;
  grid-template-columns: 100%;
}
.footer .container ul {
  list-style-type: none;
  display: flex;
  align-self: center;
  justify-self: center;
  grid-row: 2/3;
  flex-direction: column;
  text-align: center;
  margin-left: -4rem;
  letter-spacing: 0.05rem;
}
.footer .container ul li {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.footer .container img {
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  width: 20rem;
  height: auto;
}
.footer .container p {
  color: white;
  grid-row: 3/4;
  font-size: 1.4rem;
  text-align: center;
  margin: 0;
  justify-self: center;
  align-self: center;
}
.footer .container .social {
  color: white;
  justify-self: center;
  align-self: center;
}
.footer .container .social i {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.footer .container .social i:last-child {
  margin-right: 0;
}

.border {
  width: 100%;
  height: 1rem;
  background-color: #0173c7;
}

@media (min-width: 768px) {
  .doctors-list {
    box-sizing: border-box;
    height: 150rem;
  }
  .doctors-list .container {
    padding: 0rem;
    box-sizing: border-box;
    grid-template-columns: 3fr 7fr;
    grid-column-gap: 1rem;
  }
  .doctors-list .container .col-1 {
    display: grid;
    grid-template-columns: 100%;
    height: 105rem;
  }
  .doctors-list .container .col-1 .filter {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: 2fr 3fr 2fr;
    align-items: center;
    border-bottom: 0.1rem solid #bbb;
  }
  .doctors-list .container .col-1 .filter:last-child {
    border-bottom: none;
  }
  .doctors-list .container .col-1 .filter .filter-title {
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 1.5rem;
  }
  .doctors-list .container .col-1 .filter .search {
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: end;
    font-size: 1rem;
    color: #0173c7;
  }
  .doctors-list .container .col-1 .filter .collapse {
    grid-column: 5/6;
    grid-row: 1/2;
    justify-self: end;
    font-size: 1rem;
  }
  .doctors-list .container .col-1 .filter .options {
    grid-column: 1/6;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 100%;
  }
  .doctors-list .container .col-1 .filter .options label {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
  }
  .doctors-list .container .col-1 .filter .show-more {
    color: #0173c7;
    grid-column: 1/6;
    grid-row: 3/4;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .doctors-list .container .col-1 .filter .show-more .fa-plus {
    margin-right: 1rem;
  }
  .doctors-list .container .col-2 .card {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 2fr 6fr 2fr;
    height: 35rem;
  }
  .doctors-list .container .col-2 .card .name {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .doctors-list .container .col-2 .card .name:before {
    top: 20%;
  }
  .doctors-list .container .col-2 .card .other-details {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .doctors-list .container .col-2 .card .book {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    justify-self: start;
  }
  .doctors-list .container .col-2 .card .doctor_img {
    grid-column: 2/3;
    grid-row: 1/4;
    height: 100%;
  }

  .query {
    height: 22rem;
  }
  .query .container {
    text-align: left;
    box-sizing: border-box;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
  }
  .query .container .col-1 {
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
  }
  .query .container .col-1 p {
    line-height: 1rem;
  }
  .query .container .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .query .container .col-2 button {
    font-size: 1.5rem;
    padding: 2rem 4rem;
  }

  .footer {
    height: 17rem;
    background-color: white;
    color: #2a2d3e;
    box-sizing: border-box;
  }
  .footer .container {
    font-size: 1rem;
    grid-template-columns: 6fr 4fr;
    grid-row-gap: 1rem;
    box-sizing: border-box;
    padding: 4rem 5rem;
  }
  .footer .container ul {
    grid-row: 1/2;
    flex-direction: row;
    margin-left: 0rem;
    box-sizing: border-box;
    margin-left: -4rem;
    align-self: center;
    justify-self: start;
  }
  .footer .container ul li {
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    margin-left: 1rem;
  }
  .footer .container ul li:first-child {
    margin-left: 0;
  }
  .footer .container img {
    justify-self: end;
    align-self: center;
    height: 5rem;
  }
  .footer .container p {
    color: #2a2d3e;
    font-size: 1.4rem;
    grid-row: 2/3;
    text-align: left;
    grid-column: 1/2;
    justify-self: start;
  }
  .footer .container .social {
    justify-self: end;
    color: #2a2d3e;
  }
}
@media (min-width: 1024px) {
  nav {
    padding: 2rem 10rem;
  }
  nav .menu {
    display: inline;
    flex-grow: 1;
    margin-left: 0rem;
  }
  nav .menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-left: -6rem;
  }
  nav .menu ul li {
    font-family: "Nexa Bold";
    font-size: 1.5rem;
    color: #2a2d3e;
    margin-left: 3rem;
  }
  nav .nav-buttons {
    display: flex;
    flex-grow: 1;
    margin-left: 1.2rem;
    justify-content: center;
    align-items: center;
  }
  nav .nav-buttons-button {
    padding: 1rem 1.8rem;
    color: #2a2d3e;
    border: 1px solid #2a2d3e;
    border-radius: 0.5rem;
  }
  nav .nav-buttons .login {
    background-color: white;
  }
  nav .nav-buttons .quote {
    margin-left: 1rem;
    padding: 1rem 2.6rem;
    background-color: #2a2d3e;
    color: white;
  }
  nav .fa-bars {
    display: none;
  }

  .breadcrumb {
    padding: 0rem 5rem;
  }

  .doctors-list {
    padding: 0rem 5rem;
  }
  .doctors-list .container {
    grid-template-columns: 2fr 8fr;
    padding: 1rem 0rem;
  }
  .doctors-list .container .col-2 .card {
    height: 35rem;
    grid-template-columns: 7fr 3fr;
  }
  .doctors-list .container .col-2 .card .name:before {
    margin-left: 0.4rem;
  }
  .doctors-list .container .col-2 .card .other-details {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
  }
  .doctors-list .container .col-2 .card img {
    height: 100%;
  }

  .query .container {
    padding: 2rem 10rem;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: 100%;
  }
  .query .container .col-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .query .container .col-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .footer .container {
    padding: 4rem 10rem;
  }
}

/*# sourceMappingURL=hospital.css.map */
