$dark-color: #2a2d3e;
$light-color: #9cbfda;
$another-blue: #0173c7;
$background-color: white;
$disabled: #333;
$nexa-bold: 'Nexa Bold';
$nexa-light: 'Nexa Light';


html, body{
	box-sizing: border-box;
	font-size: 10px;
	margin: 0;
	padding: 0;
}

body{
	box-sizing: border-box;
	overflow-x: hidden;
}

nav{
	display: flex;
	position: relative;
	width: 100%;
	height: 8rem; 
	background-color: $background-color;
	flex-direction: row;
	box-sizing: border-box;
	padding: 2rem 10rem;
	justify-content: flex-end;
	align-items: center;
	.logo{
		flex-grow: 1;
		img{
			width: 15rem;
			height: 100%;	
		}	
	}

	.menu{
		flex-grow: 2;
		padding-left: 10rem;
		ul{
			list-style-type: none;
			display: flex;
			flex-direction: row;
			text-align: center;
			justify-content: center;
			li{
				font-family: $nexa-light;
				font-size: 1.3rem;	
				color: $dark-color;
				margin-left: 3rem;
				font-weight: 600;
				letter-spacing: 0.1rem;
			}
		}

	}

	.nav-buttons{
		flex-grow: 1;
		padding-left: 6.5rem;
		&-button{
			box-sizing: border-box;
			padding: 1rem 1.8rem;
			color: $dark-color;
			border: 1px solid $dark-color;
			border-radius: .5rem;
			font-family: $nexa-light;
			letter-spacing: 0.05rem;
			font-weight: 600;
		}

		.login{
			background-color: $background-color;
		}
		
		.quote{
			margin-left: 1rem;
			padding: 1rem 2.6rem;
			background-color: $dark-color;
			color: $background-color;
		}
	}	
	.fa-bars{
		display: none;
		color: #525659;
	}
}

.section-1{
	background-image: url('../assets/img1.jpg');
	width: 100%;
	height: auto;
	background-size: cover;
	position: relative;
	&-grid{
		display: grid;
		padding: 10rem;
		width: 60%;
		color: $dark-color;
		h2{
			font-size: 4rem;
			line-height: 2rem;
			font-family: $nexa-bold;
		}
		p{
			font-size: 1.7rem;
			line-height: 3rem;
			font-family: $nexa-bold;
		}

	}
	.field{
		margin-top: 1rem;
		display: flex;
		flex-direction: row;
		position: relative;
		.search-location{
			height: 100%;
			position: relative;
			box-sizing: border-box;
			.district{
				height: 100%;	
				flex-grow: 1;
				font-size: 1.3rem;
				color: #999;
				font-family: $nexa-bold;
				letter-spacing: .05rem;
				padding-left: 3.5rem;
				box-sizing: border-box;
			}

			.map-marker{
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				width: 3rem;
				padding-top: 1.7rem;
				font-size: 1.5rem;
				padding-left: 1.5rem;
				.fa{
					position: absolute;
					font-size: 2rem;
					
					&-map-marker{
						left: 2%;
						top: 26%;
					}
				}
			}
			.crosshairs{
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				width: 3rem;
				padding-top: 1.7rem;
				font-size: 1.5rem;
				padding-left: 1.5rem;
				.fa{
					&-crosshairs{
						right: 65%;
						top: 26%;
						color: #999;
					}	
				}
			}
		}
		.search-bar{
			flex-grow: 2;
			font-size: 1.3rem;
			color: #999;
			font-family: $nexa-bold;
			letter-spacing: 0.05rem;
			padding-left: 2.5rem;
		}

		.search-btn{
			background-color: $dark-color;
			color: $background-color;
			padding: 2rem;
			border: none;
			flex-grow: 1;
			font-size: 1.5rem;
			font-family: $nexa-bold;
			letter-spacing: 0.05rem;
		}
	}
	
}

.section-2 {
	width: 100%;
	height: 95rem;
	.container{
		padding: 3rem 10rem;
		box-sizing: border-box;
		display: grid;
		width: 100%;
		color: $dark-color;
		grid-template-rows: 100% 100% 100%;
		font-family: $nexa-bold;
		h2{
			font-size: 4rem;
			line-height: 2rem;
		}
		p{
			font-size: 1.5rem;
			line-height: 3rem;
			font-family: $nexa-light;
			letter-spacing: 0.1rem;
		}
		.grid{
			display: grid;
			grid-template-rows: 100%;
			grid-template-columns: 40% auto; 
			grid-column-gap: 17rem;
			ul{
				height: 100%;
				list-style-type: none;
				display: grid;
				flex-direction: column; 
				text-align: center;	
				padding: 0;
				box-sizing:border-box;

				.active{
						border: 2px solid $light-color;	
						color: $dark-color;
						span{
							color: $light-color;
							font-size: 2.5rem;
						}
				}

				li{
					box-sizing: border-box;
					font-size: 2rem;
					color: #bbb;
					display: grid;
					border-radius: .6rem;
					grid-template-columns: 20% 80%;
					text-align: left;
					align-items: center;
					font-size: 2rem;
					margin-bottom: 1rem;
					grid-column-gap: 1rem;
					border: 2px solid #eee;
					span{
						justify-self: center;
						font-size: 2.5rem;
						color: #bbb;
					}
					&:hover{
						box-sizing: border-box;
						border: 2px solid $light-color;	
						color: $dark-color;
						span{
							color: $light-color;
						}
					}
				}	
			}
		}
		.col-2{
			text-align: center;
			h3{
				font-size: 2rem;
			}
			p{

			}
		}
	}
}

.section-3{
	width: 100%;
	height: 70rem;
	background-color: $dark-color;
	.container{
		padding: 3rem 10rem;
		box-sizing: border-box;
		width: 100%;
		color: $background-color;
		font-family: $nexa-bold;
		h2{
			font-size: 3.5rem;
			line-height: 2rem;
			letter-spacing: 0.05rem;
		}
		p{
			font-size: 1.4rem;
			line-height: 3rem;
			margin-bottom: 3rem;
			font-family: $nexa-light;
			letter-spacing: 0.1rem;
		}
		.cards{
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-column-gap: 1rem;
			margin-bottom: 2rem;
			.card{
				width: 100%;
				height: 40rem;
				background-size: cover;
				background-position: -2rem -2rem;
				position: relative;
				&-1{
					background-image: url('../assets/image--002.jpg');
				}
				&-2{
					background-image: url('../assets/image--003.jpg');
					background-position: -.5rem;
				}
				&-3{
					background-image: url('../assets/image--004.jpg');
					background-position: .6rem;
				}
				&-4{
					background-image: url('../assets/image--005.jpg');
				}
				.description{
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 30%;
					background-color: $background-color;
					border-bottom: 0.4rem solid #9cbfda;

					.name{
						position: relative;
						color: $another-blue;
						font-size: 1.7rem;
						margin-left: 2rem;
						line-height: 1rem;

						&::after{
							content: '';
							width: 5%;
							height: .2rem;
							background-color: $another-blue;
							position: absolute;
							left: -8%;
							bottom: 50%;
						}
					}

					.designation{
						font-size: 1.2rem;
						margin-left: 2rem;
						color: $dark-color;
						margin-bottom: 0;
						line-height: 1rem;
						letter-spacing: 0.05rem;
					}
					.qualification{
						font-size: 1.2rem;
						margin-left: 2rem;
						color: $dark-color;	
						margin-bottom: 0;
						line-height: 1rem;
						letter-spacing: 0.01rem;
					}
					.location{
						font-size: 1.2rem;
						margin-left: 2rem;
						color: $dark-color;
						margin-bottom: 0;
						line-height: 1rem;	
						letter-spacing: 0.05rem;
					}
				}
			}
		}
		
		.dots{
			margin-top: 2rem;
			display: flex;
			flex-direction: row;
			height: 2rem;
			width: 100%;
			align-items:center;
			.dot{
				&:first-child{

					width: 1.4rem;
					height: 1.4rem;
					background-color: $dark-color;	
					border: 2px solid $another-blue;
				}
				margin-left: .5rem;
				width: 1rem;
				height: 1rem;
				border-radius: 50%;
				background-color: #8e9099;
			}
			
		}	
	}
}

.section-4{
	width: 100%;
	height: 97rem;
	background-color: $background-color;
	box-sizing: border-box;
	.container{
		padding: 3rem 10rem;
		box-sizing: border-box;
		width: 100%;
		color: $dark-color;
		font-family: $nexa-bold;
		h2{
			font-size: 4rem;
			line-height: 2rem;
		}
		p{
			font-size: 1.5rem;
			line-height: 2rem;
			margin-bottom: 3rem;
			font-family: $nexa-light;
			letter-spacing: 0.05rem;
		}
		.grid{
			display: grid;
			grid-template-columns: repeat(9, 1fr);
			grid-template-rows: repeat(9, 1fr);
			height: 70rem;
			grid-gap: 1rem;
			box-sizing:border-box;
			.card{
				position: relative;
				width: 100%;
				background-size: cover;
				color: $background-color;
				box-sizing: border-box;
				h3{
					position: absolute;
					bottom:4.5rem;
					font-size: 2rem;
					left: 10%;
					margin-bottom: 1.5rem;
				}
				p{
					position: absolute;
					bottom: 0%;
					left: 10%;
					font-size: 1.2rem;
				}
				&-1{
					grid-row: 1/4;
					grid-column: 1/4;
					background-image: linear-gradient(to top, $dark-color, transparent), url('../assets/image--009.jpg');
				}
				&-2{
					background-image: linear-gradient(to top, $dark-color, transparent), url('../assets/image--010.jpg');
					grid-column: 4/7;
					grid-row: 1/6;
				}	
				&-3{
					background-image: linear-gradient(to top, $dark-color, transparent), url('../assets/image--011.jpg');
					grid-column: 7/10;
					grid-row: 1/5;
				}
				&-4{
					background-image: linear-gradient(to top, $dark-color, transparent), url('../assets/image--006.jpg');
					grid-column: 1/4;
					grid-row: 4/-1;
				}
				&-5{
					background-image: linear-gradient(to top, $dark-color, transparent), url('../assets/image--008.jpg');
					grid-column: 4/7;
					grid-row: 6/-1;
				}
				&-6{
					background-image: linear-gradient(to top, $dark-color, transparent), url('../assets/image--007.jpg');
					grid-column: 7/10;
					grid-row: 5/-1;
				}
			}
		}

		.dots{
			margin-top: 2rem;
			display: flex;
			flex-direction: row;
			height: 2rem;
			width: 100%;
			align-items:center;
			.dot{
				&:first-child{
					width: 1rem;
					height: 1rem;
					background-color: $background-color;	
					border: 2px solid $another-blue;
				}
				margin-left: .5rem;
				width: .6rem;
				height: .6rem;
				border-radius: 50%;
				background-color: #8e9099;
			}
			
		}
	}
}

.section-5{
	width: 100%;
	height: 40rem;
	background-color: #f5f5f5;
	.container{
		padding: 3rem 10rem;
		box-sizing: border-box;
		width: 100%;
		font-family: $nexa-bold;

		h2{
			font-size: 4rem;
			line-height: 2rem;
		}
		p{
			font-size: 1.5rem;
			line-height: 2rem;
			margin-bottom: 3rem;
			font-family: $nexa-light;
			letter-spacing: 0.05rem;
		}
		.grid{
			width: 100%;
			display: grid;
			grid-template-rows: 100%;
			grid-template-columns: repeat(6, 1fr);
			grid-column-gap: .4rem;
			.choice{
				text-align: center;
				padding: 1rem;
				color: #809c99;
				background-color: $background-color;
			}
		}
	}
}

.section-6{
	width: 100%;
	background-color: $light-color;
	.container{
		width: 100%;
		padding-left: 10rem;
		padding-top: 5rem;
		display: grid;
		grid-template-columns: 60% 40%;
		grid-template-rows: 50% 50%;
		font-family: $nexa-bold;
		box-sizing: border-box;
		padding: 2rem 10rem; 

		h2{
		font-size: 4rem;
		line-height: 2rem;
		color: $background-color;
		}

		p{
			font-size: 1.5rem;
			line-height: 2rem;
			margin-bottom: 3rem;
			color: $dark-color;
			letter-spacing: 0.05rem;
			font-family: $nexa-light;
		}

		.col-2{
			grid-row: 1/3;
			grid-column:2/-1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items:flex-end;
			button{
				background-color: #3c7abe;
				padding: 3rem 4rem;
				border: none;
				color: $background-color;
				font-size: 2rem;
				border-radius: .5rem;
				font-family: $nexa-bold;
			}
		}
	}
}

.footer{
	width: 100%;
	height: 17rem;
	box-sizing: border-box;

	.container{
		width: 100%;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
		padding-left: 10rem;
		box-sizing: border-box;
		padding: 4rem 10rem;
		font-family: $nexa-bold;

		ul{
			list-style-type: none;
			display: flex;
			flex-direction: row;
			margin-left: -4rem;
			align-self: center;
			font-family: $nexa-light;
			letter-spacing: 0.05rem;

			li{
				&:first-child{
					margin-left: 0;
				}
				margin-left: 1rem;
				font-size: 1.5rem;
			}
		}
		img{
			width: 20rem;
			height: 5rem;
			align-self: end;
			justify-self: end;
		}
		p{
			font-size: 1.4rem;
			line-height: 2rem;
			color: $dark-color;
			align-self: end;
			font-family: $nexa-light;
		}
		.social{
			align-self: end;
			justify-self: end;

			i{
				font-size: 2rem;
				margin-right: 1.5rem;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}

.border{
	width: 100%;
	height: 1rem;
	background-color: $another-blue;
}


@media only screen and (max-width: 76.8rem){
	nav{
		padding: 2rem 5rem;
		.menu{
			ul{
				display: none;
			}
		}
		.nav-buttons{
			display: none;
		}
		.fa-bars{
			display: inline;
			font-size: 2rem;
			align-self: center;
		}
	}

	.section-1{
		height: 46rem;
		box-sizing: border-box;

		&-grid{
			padding: 5rem;
			width: 100%;
			box-sizing: border-box;

			h2{
				justify-self: center;
			}

			p{
				justify-self: center;
				padding: 0rem 4rem;
				text-align: center;
			}

			.field{
				padding: 0rem 15rem;
				display: grid;
				grid-template-rows: repeat(3, 1fr);
				grid-row-gap: 1rem;
				box-sizing: border-box;

				.search-location{
					.district{
						width: 100%;
					}
					.map-marker{
						padding-top: 1.7rem;
						padding-left: 1.7rem;
						box-sizing: border-box;	
					}
					.crosshairs{
						padding-top: 1.7rem;
						padding-right: 3.5rem;
						box-sizing: border-box;
					}
				}
				
				.search-bar{
					padding-left: 1rem;
				}

				.search-btn{
					margin: 0rem 6rem;
				}
			}
		}
	}

	.section-2{	
		height: 65rem;

		.container{
			padding: 3rem 5rem;
			h2{
				font-size: 3rem;
				text-align: center;
			}
			p{
				font-size: 1.1rem;
				line-height: 2rem;
				text-align: center;
			}
			.grid{
				grid-column-gap: 5rem;

				.col-1{
					ul{
						li{
							font-size: 1.5rem;
							&:hover{
								border: 2px solid $light-color;	
								color: $dark-color;
								span{
									color: $light-color;
									font-size: 2.5rem;
								}
							}
						}
						.active{
							border: 2px solid $light-color;	
							color: $dark-color;
							span{
								color: $light-color;
								font-size: 2.5rem;
							}
						}
					}	
				}
				.col-2{
					img{
						width: 30rem;
					}
				}
			}
		}
		
	}
	.section-3{
		height: 110rem;
		box-sizing: border-box;

		.container{
			padding: 3rem 5rem;
			box-sizing: border-box;
			h2{
				text-align: center;
			}
			p{
				text-align: center;
			}

			.cards{
				grid-template-columns: repeat(2, 1fr);
				grid-row-gap: 1rem;

				.card{
					.description{
						.name{
							&::after{
								left: -6%;
							}
						}
						.qualification{
							text-align: left;
						}
						.designation{
							text-align: left;
						}
						.location{
							text-align: left;
						}
					}
				}
			}
			.dots{
				margin-top: 1rem;
			}
		}
	}
	.section-4{
		.container{

			padding: 3rem 5rem;
			h2{
				text-align: center;
			}
			p{
				text-align: center;
			}
			.grid{
				grid-template-columns: repeat(2,1fr);
				grid-template-rows: repeat(3,1fr);
				height: 70rem;
				.card{
					&-1{
						grid-row: 1/2;
						grid-column: 1/2;
					}
					&-2{
						grid-row: 1/2;
						grid-column: 2/3;
					}
					&-3{
						grid-row: 2/3;
						grid-column: 1/2;
					}
					&-4{
						grid-row: 2/3;
						grid-column: 2/3;
					}
					&-5{
						grid-row: 3/4;
						grid-column: 1/2;
					}
					&-6{
						grid-row: 3/4;
						grid-column: 2/3;
					}
				}
			}
			.dots{
				margin-top: 1.5rem;
			}
		}
	}

	.section-5{
		height: 58rem;
		.container{
			padding: 3rem 5rem;
			h2{
				text-align: center;
			}
			p{
				text-align: center;
			}
			.grid{
				grid-template-columns: repeat(3,1fr);
				grid-template-rows: repeat(2,1fr);
				grid-gap: 1rem;
			}
		}
	}
	.section-6{
		height: 23rem;
		box-sizing: border-box;
		.container{
			padding: 2rem 5rem;
			box-sizing: border-box;
			grid-template-rows: repeat(2,1fr);
			grid-template-columns: 100%;
			.col-1{
				grid-row: 1/2;
				grid-column: 1/2;
				h2{
					text-align: center;
					line-height: 1rem;
				}
				p{
					text-align: center;
					line-height: 1rem;
				}
			}
			.col-2{
				flex-direction: row;
				justify-content: center;
				align-items: flex-start;
				grid-row: 2/3;
				grid-column: 1/2;
				button{
					margin-right: 0rem;
					font-size: 1.5rem;
					padding: 2rem 4rem;
				}
			}
		}
	}

	.footer{
		.container{
			padding: 4rem 5rem;
			ul{
				li{
					&:first-child{
					margin-left: 0;
				}
				font-size: 1.2rem;
				margin-left: 1.2rem;
				}
			}
			img{
			}
			.social{
				color: $dark-color;
				align-self: center;
				i{
					font-size: 1.5rem;
				}
			}

		}
	}
	
}

@media only screen and (max-width: 375px){
	nav{
		padding: 2rem 2rem;
	}
	.section-1{
		height: 40rem;
		&-grid{
			padding: 2rem;
			width: 100%;
			h2{
				font-size: 2.1rem;
			}
			p{
				padding: 0rem 2rem;
				font-size: 1.4rem;
				line-height: 2rem;
			}
			.field{
				padding: 0;
				flex-direction: column;
				.district{
					margin-bottom: 1rem;
				}
				span{
					.fa-map-marker{
						left: 4%;
						top: 4%;
					}
					.fa-crosshairs{
						right: 5%;
						top: 4%;
					}
				}

				.search-bar{
					margin-bottom: 1rem;
				}

			}
		}
	}
	.section-2{
		height: 200rem;
		.container{
			p{
				font-size: 1.3rem;
				line-height: 2rem;
			}
			.grid{
				margin-top: 4rem;
				grid-template-rows: 100% 100%;
				grid-template-columns:100%;
				grid-row-gap: 2rem;

				.col-1{
					grid-row: 2/-1;
				}
				.col-2{
					grid-row: 1/2;
					img{
						width: 30rem;
					}
					p{
						font-size: 1rem;
						line-height: 2rem;
					}
				}
			}
		}
	}

	.section-3{
		height: 200rem;
		.container{
			padding: 3rem 1.5rem;
			h2{
				font-size: 2.5rem;
				line-height: 3rem;
			}
			.cards{
				grid-template-columns: 100%;
				.card{
					.description{
						.name{
							&::after{
								left: -6.5%;
							}
						}
					}
				}
			}
			.dots{
				margin-top: 2rem;
			}
		}
	}

	.section-4{
		height: 230rem;
		.container{
			padding: 3rem 1.5rem;
			h2{
				font-size: 2rem;
			}
			.grid{
				grid-template-columns: 100%;
				height: 200rem;
				grid-gap: 1rem;
				grid-template-rows: auto;
				.card{
					&-1{
						grid-row: initial;
						grid-column: initial;
					}
					&-2{
						grid-row: initial;
						grid-column: initial;
					}
					&-3{
						grid-row: initial;
						grid-column: initial;
					}
					&-4{
						grid-row: initial;
						grid-column: initial;
					}
					&-5{
						grid-row: initial;
						grid-column: initial;
					}
					&-6{
						grid-row: initial;
						grid-column: initial;
					}
				}
			}
			.dots{
				margin-top: 1rem;
			}
		}
	}
	.section-5{
		height: 78rem;
		.container{
			padding: 3rem 1.5rem;
			h2{
				font-size: 2rem;
			}
			.grid{
				grid-template-columns: repeat(2, 50%);
				grid-column-gap: 0.4rem;
				grid-row-gap: 1rem; 
			}
		}
	}
	.section-6{
		height: 28rem;

		.container{
			text-align: center;
			padding-left: 0rem;
			grid-template-columns: 100%;
			padding: 4rem 0rem;
			.col-1{
				text-align: center;
				p{
					padding: 0rem 2rem;
					line-height: 2rem;
				}
			}
			.col-2{
				text-align: center;
				grid-row: initial;
				grid-column: initial;
				button{
					margin-right: 0rem;
				}
			}
		}
	}
	.footer{
		height: 38rem;
		background-color: $dark-color;
		color: white;
		.container{
			padding: 2rem 0rem;
			grid-gap: 2rem;
			grid-template-columns: 100%;
			ul{
				align-self: center;
				justify-self: center;
				grid-row: 2/3;
				flex-direction: column;
				text-align: center;
				li{
					margin-bottom: 2rem;
				}
			}
			img{
				grid-row: 1/2;
				justify-self: center;
				align-self: center;
			}
			p{
				color: white;
				grid-row: 3/4;
				text-align: center;
				margin: 0;
				justify-self: center;
				align-self: center;
			}
			.social{
				color: white;
				justify-self: center;
				align-self: center;
			}
		}
	}
}