$font-family-nav: 'Aksara Regular';
$font-family-heading: 'Futura PT Heavy';
$font-family-para: 'Medina Gothic Regular';
$dark-color: #2a2d3e;
$light-color: #9cbfda;
$another-blue: #0173c7;
$background-color: white;
$disabled: #333;

html, body{
	box-sizing: border-box;
	font-size: 10px;
	margin: 0;
	padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}


nav{
	padding-right: 2rem;
	padding-left: 2rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	display: flex;
	position: relative;
	width: 100%;
	height: 4rem; 
	background-color: $background-color;
	flex-direction: row;
	margin-left: 10rem;
	.logo{
		flex-grow: 1;
		img{
			width: 15rem;
			height: 100%;	
		}	
	}

	.menu{
		flex-grow: 1;
		ul{
			list-style-type: none;
			display: flex;
			flex-direction: row;
			text-align: center;
			justify-content: center;
			margin-left: -30rem;
			li{
				font-family: $font-family-para;
				font-size: 1.5rem;	
				color: $dark-color;
				margin-left: 3rem;
			}
		}

	}

	.nav-buttons{
		flex-grow: 1;
		&-button{
			padding: 1rem 1.8rem;
			color: $dark-color;
			border: 1px solid $dark-color;
			border-radius: .5rem;
		}

		.login{
			background-color: $background-color;
		}
		
		.quote{
			margin-left: 1rem;
			padding: 1rem 2.6rem;
			background-color: $dark-color;
			color: $background-color;
		}
	}	
}

.section-1{
	background-image: url('../../assets/img1.jpg');
	width: 100%;
	height: 45rem;
	background-size: cover;
	position: relative;
	&-grid{
		display: grid;
		padding: 10rem;
		width: 60%;
		color: $dark-color;
		h2{
			font-size: 3.5rem;
			line-height: 2rem;
		}
		p{
			font-size: 1.7rem;
			line-height: 3rem;
		}

	}
	.field{
		margin-top: 1rem;
		display: flex;
		flex-direction: row;
		box-shadow: 0px 0px 1rem rgba(0,0,0,.2);
		position: relative;
		
		.district{
			flex-grow: 1;
			position: relative;
			padding-left: 4rem;
			font-size: 1.3rem;
			color: $disabled;
		}

		span{
			height: 100%;
			
			.fa{
				position: absolute;
				font-size: 2rem;
				
				&-map-marker{
					left: 2%;
					top: 26%;
				}
				&-crosshairs{
					right: 65%;
					top: 26%;
					color: #888;
				}
			}
		}
		

		.search-bar{
			flex-grow: 2;
			font-size: 1.3rem;
			color: $disabled;
		}

		.search-btn{
			background-color: $dark-color;
			color: $background-color;
			padding: 2rem;
			border: none;
			flex-grow: 1;
		}
	}
	
}

.section-2 {
	width: 100%;
	height: 95rem;
	.container{
		padding: 3rem 10rem;
		box-sizing: border-box;
		display: grid;
		width: 100%;
		color: $dark-color;
		grid-template-rows: 100% 100% 100%;
		h2{
			font-size: 3.5rem;
			line-height: 2rem;
		}
		p{
			font-size: 1.4rem;
			line-height: 3rem;
		}
		.grid{
			display: grid;
			grid-template-rows: 100%;
			grid-template-columns: 40% auto; 
			grid-column-gap: 17rem;
			ul{
				height: 100%;
				list-style-type: none;
				display: grid;
				flex-direction: column; 
				text-align: center;	
				padding: 0;
				box-sizing:border-box;
				
				li{

					&:first-child{
						border: 2px solid $light-color;	
						color: $dark-color;
						span{
							color: $light-color;
						}
					}
					color: #809c99;
					display: grid;
					border-radius: .6rem;
					grid-template-columns: 20% 80%;
					text-align: left;
					align-items: center;
					font-size: 2rem;
					margin-bottom: 1rem;
					grid-column-gap: 1rem;
					span{
						justify-self: right;
					}
				}	
			}
		}
		.col-2{
			text-align: center;
			h3{
				font-size: 2rem;
			}
			p{

			}
		}
	}
}

.section-3{
	width: 100%;
	height: 70rem;
	background-color: $dark-color;
	.container{
		padding: 3rem 10rem;
		box-sizing: border-box;
		width: 100%;
		color: $background-color;

		h2{
			font-size: 3.5rem;
			line-height: 2rem;
		}
		p{
			font-size: 1.4rem;
			line-height: 3rem;
			margin-bottom: 3rem;
		}
		.cards{
			display: grid;
			grid-template-columns: 25% 25% 25% 25%;
			height: 40rem;
			grid-column-gap: 1rem;
			margin-bottom: 2rem;
			.card{
				width: 100%;
				height: 40rem;
				background-size: cover;
				background-position: -2rem -2rem;
				position: relative;
				&-1{
					background-image: url('../../assets/image--002.jpg');
				}
				&-2{
					background-image: url('../../assets/image--003.jpg');
					background-position: -.5rem;
				}
				&-3{
					background-image: url('../../assets/image--004.jpg');
					background-position: .6rem;
				}
				&-4{
					background-image: url('../../assets/image--005.jpg');
				}
				.description{
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 30%;
					background-color: $background-color;

					.name{
						position: relative;
						color: $another-blue;
						font-size: 1.5rem;
						margin-left: 2rem;
						line-height: 1rem;
						&::after{
							content: '';
							width: 5%;
							height: .2rem;
							background-color: $another-blue;
							position: absolute;
							left: -8%;
							bottom: 50%;
						}
					}

					.designation{
						font-size: 1.2rem;
						margin-left: 2rem;
						color: $dark-color;
						margin-bottom: 0;
						line-height: 1rem;
					}
					.qualification{
						font-size: 1.2rem;
						margin-left: 2rem;
						color: $dark-color;	
						margin-bottom: 0;
						line-height: 1rem;
					}
					.location{
						font-size: 1.2rem;
						margin-left: 2rem;
						color: $dark-color;
						margin-bottom: 0;
						line-height: 1rem;	
					}
				}
			}
		}
		
		.dots{
			display: flex;
			flex-direction: row;
			height: 2rem;
			width: 100%;
			align-items:center;
			.dot{
				&:first-child{

					width: 1.4rem;
					height: 1.4rem;
					background-color: $dark-color;	
					border: 2px solid $another-blue;
				}
				margin-left: .5rem;
				width: 1rem;
				height: 1rem;
				border-radius: 50%;
				background-color: #8e9099;
			}
			
		}	
	}
}

.section-4{
	width: 100%;
	height: 100rem;
	background-color: $background-color;
	box-sizing: border-box;
	.container{
		padding: 3rem 10rem;
		box-sizing: border-box;
		width: 100%;
		color: $dark-color;
		h2{
			font-size: 3.5rem;
			line-height: 2rem;
		}
		p{
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 3rem;
		}
		.grid{
			display: grid;
			grid-template-columns: repeat(9, 11.11%);
			grid-template-rows: repeat(9,11.11%);
			height: 70rem;
			grid-gap: .4rem;
			box-sizing:border-box;
			.card{
				position: relative;
				width: 100%;
				background-size: cover;
				color: $background-color;
				h3{
					position: absolute;
					bottom:4.5rem;
					font-size: 1.5rem;
					left: 10%;
				}
				p{
					position: absolute;
					bottom: 0%;
					left: 10%;
					font-size: 1.2rem;
				}
				&-1{
					grid-row: 1/4;
					grid-column: 1/4;
					background-image: linear-gradient(to top, $dark-color, transparent), url('../../assets/image--009.jpg');
				}
				&-2{
					background-image: linear-gradient(to top, $dark-color, transparent), url('../../assets/image--010.jpg');
					grid-column: 4/7;
					grid-row: 1/6;
				}	
				&-3{
					background-image: linear-gradient(to top, $dark-color, transparent), url('../../assets/image--011.jpg');
					grid-column: 7/10;
					grid-row: 1/5;
				}
				&-4{
					background-image: linear-gradient(to top, $dark-color, transparent), url('../../assets/image--006.jpg');
					grid-column: 1/4;
					grid-row: 4/-1;
				}
				&-5{
					background-image: linear-gradient(to top, $dark-color, transparent), url('../../assets/image--008.jpg');
					grid-column: 4/7;
					grid-row: 6/-1;
				}
				&-6{
					background-image: linear-gradient(to top, $dark-color, transparent), url('../../assets/image--007.jpg');
					grid-column: 7/10;
					grid-row: 5/-1;
				}
			}
		}

		.dots{
			margin-top: 4rem;
			display: flex;
			flex-direction: row;
			height: 2rem;
			width: 100%;
			align-items:center;
			.dot{
				&:first-child{
					width: 1rem;
					height: 1rem;
					background-color: $background-color;	
					border: 2px solid $another-blue;
				}
				margin-left: .5rem;
				width: .6rem;
				height: .6rem;
				border-radius: 50%;
				background-color: #8e9099;
			}
			
		}
	}
}

.section-5{
	width: 100%;
	height: 40rem;
	background-color: #f5f5f5;
	.container{
		padding: 3rem 10rem;
		box-sizing: border-box;
		width: 100%;

		h2{
			font-size: 3.5rem;
			line-height: 2rem;
		}
		p{
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 3rem;
		}
		.grid{
			width: 100%;
			display: grid;
			grid-template-rows: 100%;
			grid-template-columns: repeat(6,16.67%);
			grid-column-gap: .4rem;
			.choice{
				text-align: center;
				padding: 1rem;
				color: #809c99;
				background-color: $background-color;
			}
		}
	}
}

.section-6{
	width: 100%;
	height: 20rem;
	background-color: $light-color;
	.container{
		width: 100%;
		padding-left: 10rem;
		padding-top: 5rem;
		display: grid;
		grid-template-columns: 60% 40%;
		grid-template-rows: 50% 50%;
	
		h2{
		font-size: 3.5rem;
		line-height: 2rem;
		color: $background-color;
		}

		p{
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 3rem;
			color: $dark-color;
		}

		.col-2{
			grid-row: 1/3;
			grid-column:2/-1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items:center;
			button{
				background-color: #3c7abe;
				padding: 3rem 7rem;
				border: none;
				color: $background-color;
				margin-right: 4rem;
				font-size: 1.5rem;
				border-radius: .5rem;
			}
		}
	}
}

.footer{
	width: 100%;
	height: 15rem;
	.container{
		width: 100%;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
		padding-left: 10rem;
		margin-top: 2rem;
		ul{
			list-style-type: none;
			display: flex;
			flex-direction: row;
			margin-left: -4rem;
			align-self: center;
			li{
				&:first-child{
					margin-left: 0;
				}
				margin-left: 1rem;
				font-size: 1.5rem;
			}
		}
		img{
			align-self: center;
			width: 20rem;
			height: 5rem;
			align-self: center;
			justify-self: end;
			margin-right: 15rem;
		}
		p{
			font-size: 1.4rem;
			line-height: 2rem;
			color: $dark-color;
			align-self: end;
		}
		.social{
			align-self: end;
			justify-self: end;
			margin-right: 15rem;

			i{
				font-size: 2rem;
				margin-right: 1.5rem;

			}
		}
	}
}

.border{
	width: 100%;
	height: 1rem;
	background-color: $another-blue;
}

@media only screen and (max-width: 100rem) {
	nav{
		padding-left: 0rem;
		margin-left: 5rem;
	}
	.section-6{
		.container{
			grid-template-columns: 50% 50%;
			.col-2{
				button{
					margin-right: 10rem;
				}
			}
		}
	}
}