html, body, *{
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: #021459;
}
.card{
	position: relative;
	width: 350px;
	height: 400px;
	background-size: cover;
	background-position: 30% 0%;
	margin-bottom: 1rem;
}
.card .name{
	position: absolute;
	bottom: 3rem;
	left: 5%;
	color: white;
}
.card .number{
	position: absolute;
	bottom: 1rem;
	left: 5%;
	color: white;	
}

.card-1{
	background-image: linear-gradient(to top, #010916ff, #01091600) , url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg") ;
}
.card-2{
	background-image: linear-gradient(to top, #010916ff, #01091600) , url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg") ;
}
.card-3{
	background-image: linear-gradient(to top, #010916ff, #01091600) , url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg") ;
}

.card-4{
	background-image: linear-gradient(to top, #010916ff, #01091600) , url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg") ;
}

.card-5{
	background-image: linear-gradient(to top, #010916ff, #01091600) , url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg") ;
}
