.container{
	background-color: #8fcaf1;
	padding: 1rem;
}
.container h2{
	color: white;
	text-align: center;
}
.container{
	color: #021433;
	text-align: center;
}
.container button{
	background-color: #0099ff;
	width: 15rem;
	height: 4rem;
	border: none;
	color: white;
	text-align: center;
	font-family: 'Arial';
	font-size: 1rem;
	border-radius: 0.2rem;
}